<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teste da ana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
  <ion-breadcrumbs>
    <ion-breadcrumb href="#">
      cor
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
    </ion-breadcrumb>
    <ion-breadcrumb href="#">
     tamanho
     <ion-icon name="resize-outline" slot="start">
    </ion-icon>
     </ion-breadcrumb>
     <ion-breadcrumb href="#">
      propaganda
      <ion-icon name="home-outline" slot="start"></ion-icon>
    </ion-breadcrumb>
  </ion-breadcrumbs>
</ion-card>
</ion-content>


